@font-face {
  font-family: 'Stein Antik';
  src: local('SteinAntik');
}

body {
  background-image: url(seneca.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-color: #000000;

  color: white;

  display: flex;
  align-items: center;
}

#quote {
  margin-left: 5%;
}

.quote {
  font-size: 2.4em;
  font-family: 'Stein Antik';
}

.source {
  font-size: 1.6em;
  text-align: right;

  margin-right: 4em;
}
